@charset "UTF-8";
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans Japanese", Hiragino Sans, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, sans-serif;
  color: #200706;
  font-weight: 200;
  text-align: center;
  padding-top: 92px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Responsive */
.noRes {
  display: inline;
}

.res {
  display: none;
}

.en {
  display: none;
}

/* Base */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px 20px 100px;
}

/* Select Page */
.select {
  color: #fe8f29 !important;
}

/* Title */
.section__title {
  position: relative;
}
.section__title h2 {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 70px 0 80px;
}

/* Border */
.border__jagged {
  position: absolute;
  top: 45px;
  display: -webkit-box-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.6;
}
.border__jagged span {
  display: block;
  height: 1.5px;
  width: 8px;
  margin: 0 -1.5px;
  border-radius: 1px;
}
.border__jagged span:nth-child(even) {
  transform: rotate(-40deg);
}
.border__jagged span:nth-child(odd) {
  transform: rotate(40deg);
}

/* Color01 */
.color__text {
  color: rgba(62, 169, 245, 0.6);
}

.color__bg {
  background: rgba(62, 169, 245, 0.3);
}

.color__bd {
  background: #3ea9f5;
}

/* Navi */
.header__nav {
  border-bottom: 1px solid #dcdcdc;
  display: -webkit-box-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background: #fff;
  padding: 20px;
  width: 100%;
}
.header__nav .logo {
  margin-left: 15px;
}
.header__nav .logo img {
  height: 50px;
}
.header__nav .header__nav--right {
  display: -webkit-box-flex;
  display: flex;
  align-items: center;
}
.header__nav .header__nav--right li {
  position: relative;
  padding: 0 30px;
}
.header__nav .header__nav--right li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 18px;
  width: 1px;
  transform: skewX(-20deg);
  background-color: #dcdcdc;
}
.header__nav .header__nav--right li a {
  position: relative;
  color: #200706;
  padding: 15px 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.7px;
  transition: all .4s;
}
.header__nav .header__nav--right li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: #fe8f29;
  transition: all .4s ease;
}
.header__nav .header__nav--right li a:hover {
  color: #fe8f29;
}
.header__nav .header__nav--right li a:hover::after {
  transform: scaleX(1);
}
.header__nav .header__nav--right li input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 20px;
  border-radius: 50px;
  background: #efefef;
  transition: background .4s ease;
}
.header__nav .header__nav--right li input[type="checkbox"] + label {
  cursor: pointer;
  z-index: 8;
  position: relative;
  display: inline-block;
  top: 0;
  left: -103px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fe8f29;
  transition: left .4s ease, background .4s ease;
}
.header__nav .header__nav--right li input[type="checkbox"]:checked {
  background: #dfdfdf;
}
.header__nav .header__nav--right li input[type="checkbox"]:checked + label {
  z-index: 8;
  position: relative;
  display: inline-block;
  top: 0;
  left: -28px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fe8f29;
}
.header__nav .header__nav--right li input[type="checkbox"]:focus {
  outline: none;
}
.header__nav .header__nav--right li input[type="checkbox"]::after {
  content: attr(data-content);
  z-index: 7;
  position: absolute;
  top: 2px;
  left: 43px;
  font-size: 1.2rem;
}
.header__nav .humberger {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 7;
  width: 45px;
  padding: 17px 10px 10px;
  cursor: pointer;
}
.header__nav .humberger .icon-bar {
  height: 2px;
  display: block;
  margin-bottom: 6px;
  background: #200706;
  transition: all .5s;
}
.header__nav .humberger .icon-bar.open:nth-child(1) {
  transform: translate(0, 8px) rotate(45deg);
  -webkit-transform: translate(0, 8px) rotate(45deg);
}
.header__nav .humberger .icon-bar.open:nth-child(2) {
  transform: translate(-20px, 0);
  -webkit-transform: translate(-20px, 0);
  opacity: 0;
}
.header__nav .humberger .icon-bar.open:nth-child(3) {
  transform: translate(0, -8px) rotate(-45deg);
  -webkit-transform: translate(0, -8px) rotate(-45deg);
}

/* Hero-image */
.hero-visual img {
  max-width: 100%;
}

/* About */
.about {
  padding-top: 100px;
}
.about .about__title {
  padding-bottom: 80px;
}
.about .about__title .title__width--s {
  width: 40%;
}
.about .about__title .title__width--l {
  width: 60%;
}
.about h2 {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 15px;
}
.about .about__item {
  display: -webkit-box-flex;
  display: flex;
  padding-bottom: 50px;
}
.about .about__item .text__items {
  flex: 5;
  margin-right: 50px;
}
.about .about__item .text__items .contents__description {
  font-size: 1.6rem;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-ideograph;
  padding-bottom: 50px;
}
.about .about__item .category__box {
  display: -webkit-box-flex;
  display: flex;
}
.about .about__item .category__box h3 {
  margin-right: 20px;
  font-size: 1.4rem;
  font-weight: 400;
}
.about .about__item .category__box p {
  font-size: 1.4rem;
}
.about .about__item .category__box p:not(:last-child)::after {
  content: '/';
  margin: 0 8px;
}
.about .about__item .picture__items {
  flex: 2;
}
.about .about__item .picture__items .picture__width {
  width: 100%;
}
.about .about__item .picture__items .picture__height {
  width: 70%;
}
.about .video__wrapper {
  position: relative;
}
.about .video__wrapper .video {
  width: 100%;
}
.about .video__wrapper .video__btn {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 35px;
  cursor: pointer;
}

/* box01 */
.box01 {
  padding-bottom: 67.5%;
  position: relative;
  width: 100%;
  height: 100%;
}
.box01 img {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
}
.box01 .circle01 {
  z-index: 1;
  position: absolute;
  top: 8%;
  left: 20%;
  border-radius: 50%;
  width: 62%;
  padding-bottom: 62%;
  filter: brightness(120%);
}
.box01 .circle02 {
  position: absolute;
  bottom: 0;
  left: 5%;
  bottom: 0;
  border: solid 1px;
  border-radius: 50%;
  width: 12%;
  padding-bottom: 12%;
}
.box01 .box__text {
  text-align: right;
  z-index: 2;
  position: absolute;
  bottom: 10%;
  right: 8%;
  letter-spacing: 1.6px;
}
.box01 .box__text h3 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.box01 .box__text p {
  font-size: 1.6rem;
  line-height: 22px;
}

/* box02 */
.box02 {
  padding-bottom: 56%;
  margin: 50px 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.box02 img {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
}
.box02 .circle01 {
  z-index: 1;
  position: absolute;
  top: 5%;
  right: 20%;
  border: solid 1px;
  border-radius: 50%;
  width: 53%;
  padding-bottom: 53%;
}
.box02 .box__text {
  text-align: left;
  z-index: 2;
  position: absolute;
  bottom: 20%;
  left: 14%;
  letter-spacing: 1.6px;
}
.box02 .box__text h3 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.box02 .box__text p {
  font-size: 1.6rem;
  line-height: 22px;
}

/* box03 */
.box03 {
  padding-bottom: 69%;
  position: relative;
  width: 100%;
  height: 100%;
}
.box03 img {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
}
.box03 .circle01 {
  z-index: 1;
  position: absolute;
  top: 48%;
  left: 42%;
  border-radius: 50%;
  width: 35%;
  padding-bottom: 35%;
  filter: brightness(120%);
}
.box03 .circle02 {
  position: absolute;
  top: 5%;
  right: 19%;
  border: solid 1px;
  border-radius: 50%;
  width: 8%;
  padding-bottom: 8%;
}
.box03 .box__text {
  text-align: right;
  z-index: 2;
  position: absolute;
  bottom: 10%;
  right: 8%;
  letter-spacing: 1.6px;
}
.box03 .box__text h3 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 20px;
}
.box03 .box__text p {
  font-size: 1.6rem;
  line-height: 22px;
}

/* Activity */
.activity__box {
  display: -webkit-box-flex;
  display: flex;
  flex-wrap: wrap;
}
.activity__box .activity__item {
  width: 50%;
  height: auto;
}
.activity__box .activity__item:nth-child(odd) {
  padding-right: 20px;
}
.activity__box .activity__item:nth-child(even) {
  padding-left: 20px;
}
.activity__box .activity__item .activity__item--photo {
  width: 100%;
  height: 300px;
}
.activity__box .activity__item .activity__item--photo .photo {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.activity__box .activity__item .activity__text {
  font-weight: 300;
  text-align: left;
}
.activity__box .activity__item .activity__text p {
  margin-top: 20px;
  font-size: 1.6rem;
}

/* Footer */
.footer {
  background: #efefef;
  padding: 100px 0 200px;
  text-align: left;
}
.footer .logo__box {
  border-bottom: 1px solid #dcdcdc;
  padding: 0 20px 40px;
  display: -webkit-box-flex;
  display: flex;
}
.footer .logo__box li:not(:last-child) {
  margin-right: 30px;
}
.footer .logo__box li img {
  height: 45px;
}
.footer .footer__box {
  max-width: 1000px;
  margin: 0 auto;
}
.footer .footer__box .footer__nav {
  display: -webkit-box-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.footer .footer__box .footer__nav li:not(:last-child) {
  margin-right: 15px;
}
.footer .footer__box .footer__nav li i {
  color: #200706;
  font-size: 1.8rem;
  text-decoration: none;
  letter-spacing: 0.6px;
  transition: all .5s;
}
.footer .footer__box .footer__nav li i:hover {
  color: #fe8f29;
}
.footer .footer__box .copyright {
  display: -webkit-box-flex;
  display: flex;
  padding: 0 20px 0;
  line-height: 20px;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer .footer__box .copyright .cp {
  margin-right: 5px;
}

@media screen and (max-width: 1091px) {
  .header__nav .header__nav--right {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    margin-top: 82px;
    z-index: 5;
  }
  .header__nav .header__nav--right li {
    border-bottom: 1px solid #dcdcdc;
    padding: 0;
    width: 100%;
  }
  .header__nav .header__nav--right li:last-child {
    padding: 13.5px 0;
  }
  .header__nav .header__nav--right li:not(:first-child)::after {
    content: none;
  }
  .header__nav .header__nav--right li a {
    display: block;
    padding: 20px 0;
    position: relative;
    color: #200706;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1.1px;
    white-space: nowrap;
  }
  .header__nav .header__nav--right li a:hover::after {
    transform: scaleX(0);
  }
  .header__nav .header__nav--right li input[type="checkbox"] {
    left: 10px;
  }
  .header__nav .header__nav--right li input[type="checkbox"] + label {
    left: -93px;
  }
  .header__nav .header__nav--right li input[type="checkbox"]:checked + label {
    left: -13px;
  }
}
/* iPhoneSE */
/* 320px以下の場合 */
@media screen and (max-width: 320px) {
  body {
    padding-top: 67px;
  }

  /* Base */
  .wrapper {
    width: 100%;
    padding: 20px 20px 50px;
  }

  /* Title */
  .section__title h2 {
    font-size: 2.2rem;
    margin: 40px 0 50px;
  }

  /* Border */
  .border__jagged {
    top: 35px;
  }

  /* Navi */
  .header__nav {
    padding: 15px 10px;
    width: 100%;
  }
  .header__nav .header__nav--right {
    margin-top: 67px;
  }
  .header__nav .logo {
    margin-left: 0;
  }
  .header__nav .logo img {
    height: 35px;
  }
  .header__nav .humberger {
    top: 7px;
  }

  /* About */
  .about {
    padding-top: 50px;
  }
  .about .about__title {
    padding-bottom: 30px;
  }
  .about .about__title .title__width--s {
    width: 60%;
  }
  .about .about__title .title__width--l {
    width: 90%;
  }
  .about h2 {
    font-size: 1.7rem;
  }
  .about .about__item {
    display: block;
    padding-bottom: 50px;
  }
  .about .about__item .text__items {
    margin: 0;
  }
  .about .about__item .text__items .contents__description {
    font-size: 1.3rem;
    line-height: 20px;
    padding-bottom: 30px;
  }
  .about .about__item .category__box h3 {
    font-size: 1.2rem;
    margin-right: 18px;
  }
  .about .about__item .category__box p {
    font-size: 1.2rem;
  }
  .about .about__item .picture__items {
    margin-top: 30px;
  }
  .about .about__item .picture__items .picture__width {
    width: 90%;
  }
  .about .about__item .picture__items .picture__height {
    width: 60%;
  }

  /* box01 */
  .box01 {
    padding-bottom: 94%;
  }
  .box01 img {
    width: 55%;
  }
  .box01 .circle01 {
    left: auto;
    right: 0;
    width: 72%;
    padding-bottom: 72%;
  }
  .box01 .circle02 {
    display: none;
  }
  .box01 .box__text {
    bottom: 0;
    right: 0;
    letter-spacing: 1px;
  }
  .box01 .box__text h3 {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 15px;
    line-height: 24px;
  }
  .box01 .box__text p {
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* box02 */
  .box02 {
    padding-bottom: 85%;
    margin: 30px 0;
  }
  .box02 img {
    width: 50%;
  }
  .box02 .circle01 {
    left: 0;
    right: auto;
    width: 68%;
    padding-bottom: 68%;
  }
  .box02 .box__text {
    bottom: 0;
    left: 0;
    letter-spacing: 1px;
  }
  .box02 .box__text h3 {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 15px;
  }
  .box02 .box__text p {
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* box03 */
  .box03 {
    padding-bottom: 102%;
  }
  .box03 img {
    width: 70%;
  }
  .box03 .circle01 {
    top: 38%;
    left: auto;
    right: 0;
    width: 50%;
    padding-bottom: 50%;
  }
  .box03 .circle02 {
    display: none;
  }
  .box03 .box__text {
    bottom: 0;
    right: 0;
    letter-spacing: 1px;
  }
  .box03 .box__text h3 {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 15px;
  }
  .box03 .box__text p {
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* Start Performance */
  .activity__box {
    width: 100%;
    justify-content: center;
  }
  .activity__box .activity__item {
    width: 100%;
  }
  .activity__box .activity__item:nth-child(odd), .activity__box .activity__item:nth-child(even) {
    padding: 0;
  }
  .activity__box .activity__item:not(:last-child) {
    padding-bottom: 30px;
  }
  .activity__box .activity__item .activity__item--photo {
    width: 100%;
    height: 250px;
  }
  .activity__box .activity__item .activity__text p {
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* Footer */
  .footer {
    padding: 50px 0 100px;
  }
  .footer .footer__box {
    width: 100%;
  }
  .footer .footer__box .logo__box {
    display: block;
  }
  .footer .footer__box .logo__box li:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer .footer__box .logo__box li img {
    height: 35px;
  }
}
/* iPhone8, iPhone8+ */
/* 321px以上、767px以下のの場合 */
@media screen and (min-width: 321px) and (max-width: 767px) {
  body {
    padding-top: 82px;
  }

  /* Base */
  .wrapper {
    width: 100%;
    padding: 20px 20px 50px;
  }

  /* Title */
  .section__title h2 {
    font-size: 2.4rem;
    margin: 50px 0 60px;
  }

  /* Border */
  .border__jagged {
    top: 40px;
  }

  /* Navi */
  .header__nav {
    padding: 20px 10px;
    width: 100%;
  }
  .header__nav .logo {
    margin-left: 0;
  }
  .header__nav .logo img {
    height: 40px;
  }
  .header__nav .header__nav--right {
    display: none;
    flex-direction: column;
  }

  /* About */
  .about {
    padding-top: 60px;
  }
  .about .about__title {
    padding-bottom: 40px;
  }
  .about h2 {
    font-size: 1.8rem;
  }
  .about .about__item {
    padding-bottom: 60px;
  }
  .about .about__item .text__items {
    margin-right: 30px;
  }
  .about .about__item .text__items .contents__description {
    font-size: 1.4rem;
    line-height: 22px;
    padding-bottom: 40px;
  }
  .about .about__item .category__box h3 {
    font-size: 1.4rem;
    margin-right: 15px;
  }
  .about .about__item .category__box p {
    font-size: 1.4rem;
  }
  .about .about__item .picture__items {
    margin-top: 30px;
  }
  .about .about__item .picture__items .picture__width {
    width: 90%;
  }
  .about .about__item .picture__items .picture__height {
    width: 60%;
  }

  /* box01 */
  .box01 {
    padding-bottom: 98%;
  }
  .box01 img {
    width: 65%;
  }
  .box01 .circle01 {
    left: auto;
    right: 0;
    width: 82%;
    padding-bottom: 82%;
  }
  .box01 .circle02 {
    display: none;
  }
  .box01 .box__text {
    bottom: 5%;
    right: 0;
    letter-spacing: 1px;
  }
  .box01 .box__text h3 {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 15px;
  }
  .box01 .box__text p {
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* box02 */
  .box02 {
    padding-bottom: 95%;
    margin: 30px 0;
  }
  .box02 img {
    width: 60%;
  }
  .box02 .circle01 {
    left: 0;
    right: auto;
    width: 78%;
    padding-bottom: 78%;
  }
  .box02 .box__text {
    bottom: 5%;
    left: 0;
    letter-spacing: 1px;
  }
  .box02 .box__text h3 {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 15px;
  }
  .box02 .box__text p {
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* box03 */
  .box03 {
    padding-bottom: 112%;
  }
  .box03 img {
    width: 80%;
  }
  .box03 .circle01 {
    top: 38%;
    left: auto;
    right: 0;
    width: 60%;
    padding-bottom: 60%;
  }
  .box03 .circle02 {
    display: none;
  }
  .box03 .box__text {
    bottom: 5%;
    right: 0;
    letter-spacing: 1px;
  }
  .box03 .box__text h3 {
    font-size: 1.9rem;
    font-weight: 400;
    padding-bottom: 15px;
  }
  .box03 .box__text p {
    font-size: 1.3rem;
    line-height: 20px;
  }

  /* Start Performance */
  .activity__box {
    width: 100%;
    justify-content: center;
  }
  .activity__box .activity__item {
    width: 100%;
  }
  .activity__box .activity__item:nth-child(odd), .activity__box .activity__item:nth-child(even) {
    padding: 0;
  }
  .activity__box .activity__item:not(:last-child) {
    padding-bottom: 40px;
  }
  .activity__box .activity__item .activity__item--photo {
    width: 100%;
    height: 250px;
  }
  .activity__box .activity__item .activity__text p {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 20px;
  }

  /* Footer */
  .footer {
    padding: 50px 0 100px;
  }
  .footer .footer__box {
    width: 100%;
  }
  .footer .footer__box .logo__box {
    display: block;
  }
  .footer .footer__box .logo__box li:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer .footer__box .logo__box li img {
    height: 40px;
  }
}
/* iPhone 8+ width */
/* 414px以下 */
@media screen and (max-width: 414px) {
  /* Responsive */
  .noRes {
    display: none;
  }

  .res {
    display: block;
  }
}
/* iPhoneSE width */
/* 321px以上、567px以下のの場合 */
@media screen and (min-width: 321px) and (max-width: 567px) {
  /* About */
  .about .about__title {
    padding-bottom: 40px;
  }
  .about .about__title .title__width--s {
    width: 60%;
  }
  .about .about__title .title__width--l {
    width: 90%;
  }
  .about .about__item {
    display: block;
  }
  .about .about__item .text__items {
    margin: 0;
  }
  .about .about__item .picture__items .picture__width {
    width: 90%;
  }
  .about .about__item .picture__items .picture__height {
    width: 60%;
  }
}
/* iPhone8, iPhone8+ width */
/* 568px以上、767px以下のの場合 */
@media screen and (min-width: 568px) and (max-width: 767px) {
  /* About */
  .about .about__item .picture__items .picture__width {
    width: 100%;
  }
  .about .about__item .picture__items .picture__height {
    width: 80%;
  }

  /* box01 */
  .box01 {
    padding-bottom: 79%;
  }
  .box01 img {
    width: 55%;
  }
  .box01 .circle01 {
    width: 72%;
    padding-bottom: 72%;
  }
  .box01 .box__text {
    bottom: 5%;
  }
  .box01 .box__text h3 {
    font-size: 2.2rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .box01 .box__text p {
    font-size: 1.4rem;
    line-height: 22px;
  }

  /* box02 */
  .box02 {
    padding-bottom: 72%;
  }
  .box02 img {
    width: 50%;
  }
  .box02 .circle01 {
    width: 68%;
    padding-bottom: 68%;
  }
  .box02 .box__text {
    bottom: 10%;
  }
  .box02 .box__text h3 {
    font-size: 2.2rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .box02 .box__text p {
    font-size: 1.4rem;
    line-height: 22px;
  }

  /* box03 */
  .box03 {
    padding-bottom: 88%;
  }
  .box03 img {
    width: 70%;
  }
  .box03 .circle01 {
    top: 43%;
    width: 50%;
    padding-bottom: 50%;
  }
  .box03 .box__text {
    bottom: 5%;
  }
  .box03 .box__text h3 {
    font-size: 2.2rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .box03 .box__text p {
    font-size: 1.4rem;
    line-height: 22px;
  }
}
/* iPad */
/* 768px以上、1023px以下のの場合 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    padding-top: 92px;
  }

  /* Base */
  .wrapper {
    width: 100%;
    padding: 20px 20px 100px;
  }

  /* Navi */
  .header__nav .header__nav--right {
    margin-top: 92px;
  }
  .header__nav .header__nav--right li:last-child {
    padding: 18.5px 0;
  }
  .header__nav .header__nav--right li a {
    display: block;
    padding: 30px 0;
  }
}
/* 768px以上、1091px以下のの場合 */
@media screen and (min-width: 768px) and (max-width: 1091px) {
  /* Navi */
  .header__nav .header__nav--right {
    margin-top: 92px;
  }
  .header__nav .header__nav--right li:last-child {
    padding: 23.5px 0;
  }
  .header__nav .header__nav--right li a {
    padding: 30px 0;
  }
  .header__nav .humberger {
    top: 20px;
    right: 10px;
  }
}
/* 1092px以上、1212px以下のの場合 */
@media screen and (min-width: 1092px) and (max-width: 1212px) {
  /* Navi */
  .header__nav .header__nav--right li {
    padding: 0 20px;
  }
}
/* 1092px以上場合 */
@media screen and (min-width: 1092px) {
  /* Navi */
  .header__nav .humberger {
    display: none;
  }
}
